body {
  background-color: #555064;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

nav {
  height: 80px;
  background: #e2c48c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: italic;
  padding: 0 2rem;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
}
nav a:hover {
  color: #fdcc04;
}

.hero-container {
  display: grid;
  grid-template-columns: 744px 197px 744px;
  width: calc(744px + 197px + 744px);
  height: 1052px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.column-left {
  background-color: green;
  background-image: url("Untitled-1-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spine {
  background-color: red;
  background-image: url("Untitled-1-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.column-right {
  background-color: blue;
  background-image: url("Untitled-1-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  background: #e2c48c;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  left: 5%;
  bottom: 1%;
  text-decoration: none;
}
.button:hover {
  background: #fff;
  color: #fdcc04;
}

.hero-image {
  width: 100%;
  height: 30vh;
  width: 80%;
  height: 80%;
  margin: right 30px;
  object-fit: cover;
  margin-left: -390px;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
